.castContainer {
  display: flex;
  gap: 2rem;
}

.castContainer > * {
  flex: 1;
  padding-inline: 5rem;
}

.castDetails {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(3, 1fr);
  border-left: 1px solid var(--clr-blue-400);
}

@media (max-width: 780px) {
  .castContainer {
    flex-direction: column;
  }

  .castContainer > * {
    flex: 1;
    padding-inline: 0rem;
  }
  .castDetails {
    border-left: 0;
  }
}

.castDetails > * {
  padding: 0.5em 1em;
  border: 1px solid var(--clr-green-400);
  border-radius: 0.25em;
  backdrop-filter: blur(5px);

  display: flex;
  flex-direction: column;
}

.castDetails > * > * + * {
  margin-top: 0.5em;
}

.castDetails_status {
  grid-column: 1/2;
}
.castDetails_species {
  grid-column: 2/3;
}
.castDetails_gender {
  grid-column: 3/4;
}
.castDetails_origin {
  grid-column: 1/-1;
}
.castDetails_location {
  grid-column: 1/-1;
}
.castDetails_episodes {
  grid-column: 1/-1;
}
