.cast__section {
  min-height: 100vh;
  /* background-color: red; */
  background-image: url('../public/assets/images/Background.png');
  background-repeat: no-repeat;
  background-size: contain;

  padding-top: var(--section-padding-top);
}

.searchField {
  display: inline-flex;
  overflow: hidden;

  border-radius: 100vmax;
  border: 1px solid var(--clr-blue-400);
}

.searchField select {
  background-color: var(--clr-blue-400);
  border-top-left-radius: 100vmax;
  border-bottom-left-radius: 100vmax;
  color: white;
  padding: 0.75rem 1.125em;
  border: none;
  border-right: 1.125em solid transparent;
}

.searchField input {
  background-color: transparent;
  border-top-right-radius: 100vmax;
  border-bottom-right-radius: 100vmax;
  padding: 0.75em 1.125em;
  border: none;
  color: var(--clr-white-400);
}

@media (max-width: 768px) {
  .searchField select {
    padding: 0.5em 0.5em;
    border-right: 0.5em solid transparent;
    width: 100px;
  }

  .searchField input {
    padding: 0.5em 0.5em;
    max-width: 10ch;
  }
}
