.section {
  min-height: 100vh;
  background-image: url('../public/assets/images/Background.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  padding-top: var(--section-padding-top);
  padding-inline: 1rem;
}

.section__title {
  text-align: center;
  width: 60%;
  margin-inline: auto;
  margin-bottom: 2rem;
}

.section__cta {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5rem;

  width: 50%;
  margin-inline: auto;
  margin-top: 1rem;
}

.section__cta:nth-child(1) {
  order: 2;
}

.section__cta:nth-child(2) {
  order: 1;
}

@media (max-width: 780px) {
  .section__title {
    width: 100%;
    text-align: left;
  }
  .section__cta {
    width: 100%;

    flex-direction: column;
    gap: 2rem;
    align-items: flex-start;
  }
}
